<main>
    <div class="contact-page text-center vh-100">
        <div class="container">
            <h2 class="display-6 fw-bold text-uppercase pt-3">Contact Us</h2>

            <div class="contact-form w-75 m-auto pt-3 ">

                <form action="forms/contact.php" method="post" role="form" class="php-email-form mt-5">

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-content">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-content">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Your Email" required>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-content">
                                <input type="phone" class="form-control" name="phone" id="phone"
                                    placeholder="Phone number" required>
                            </div>
                        </div>
                        <div class="col-md-6" mb-3>
                            <div class="form-content">
                                <input class="form-control" name="password" id="password" type="password"
                                    placeholder="userPassword" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-content">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                    required></textarea>
                            </div>
                        </div>
                    </div>

                    <button class="btn text-white d-block me-auto mt-3" type="submit">Send Massage</button>

                </form>
            </div>
        </div>
    </div>
</main>