<main class="home d-flex align-items-center justify-content-center">
    <div class="overlay-2">
        <div class=" container">

            <div class="content text-center text-white  pt-5 ">

                <h1>WELCOME TO THE API STORE</h1>
                <p>please check our products!</p>

            </div>

            <div id="carouselExampleIndicators" class="carousel slide z-1" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active text-center">
                        <img src="../../../assets/images/blog-1.jpg" class="testi-img rounded-circle" alt="...">
                        <h5> Take a look to have what you need</h5>
                       
                    </div>
                    <div class="carousel-item text-center">
                        <img src="../../../assets/images/teenagers-with-mobile-social-chat-online_75052-129.jpg" class=" testi-img rounded-circle" alt="...">
                        <h5> Enjoy your tour and give us your feedback!</h5>
                        
                    </div>

                </div>

            </div>
        </div>
    </div>
</main>